.button{
  display: block;

  padding: 8px 16px;
  max-width: 20%;

  background-color: #fff;

border: 2px solid black;
}

.button:hover{
  box-shadow: 0 0 5px rgba(122,122,122,0.5);
}

.button:active{
  box-shadow: 0 0 15px rgba(122,122,122,0.5);
}