.movieInfoBox{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.mainInfoBox {
  display: flex;

  gap: 8px;
}
.imgBox {
  min-width: 200px;
  max-height: 300px;
  max-width: 250px;
}
.infoBox {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 10px;

  font-size: 16px;
}
.navBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;

  width: 100%;
}
.navigate {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  padding: 8px;

  min-width: 200px;
  box-shadow: 0 0 5px rgba(122, 122, 122, 0.5);
}
.title {
  font-size: 18px;
  font-weight: 700;
}
.text {
  font-weight: 400;
}
