.app {
  display: flex;
  /* align-items: flex-start;
  justify-content: start; */
  min-height: 100vh;
  width: 100%;
  font-size: 16px;
  color: #010101;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  width: 100%;
}
